<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/carterr.css">
</head>
<body>
    <div class="main">
       <h3>Please login to buy</h3>
        <div class="anchor"><a href="/home">Go back to home page</a></div>
    </div>
</body>
</html>