.main{
    text-align: center;
    margin-top: 200px;
}

.main .anchor{
    margin-top: 20px;
    text-decoration: none;
    color: tomato;
}

.main .anchor a{
    color: tomato;
    text-decoration: none;
}